/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove background for autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  border: 0.5px solid;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background: #3B3F40;
  font-size: 18px;
}

/* Title */

h2 {
  font-weight: 400;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 1px;
  background: rgba(46, 191, 90, 0.76);
  padding: 5px 0px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover,
.btn:active {
  background: #2EBF5A;
}

/* Header */

header {
  margin: 40px 0px;
}

header img {
  width: 250px;
  height: auto;
  user-select: none;
}

/* Form */

main.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
  align-items: center;

  width: 55%;
  padding: 15px 30px;
  background: rgb(248, 247, 245);
  box-shadow: 0px 0px 6px #888;
  border-radius: 3px;
  margin-bottom: 40px;
}

main.form form{
  display: flex;
  flex-direction: column;
}

main.form .labelText {
  font-size: 80%;
  color: #999;
  margin-top: 2px;
}

main.form .required {
  color: #EA2002;
}

main.form input, #message {
  margin: 5px 0px;
  width: 100%;
  height: 30px;
}

main #message {
  resize: none;
  height: 100px;
}

/* Footer */

footer {
  margin-top: auto;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background: #333;
  color: #eee;
}
